[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tsx = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
uvicorn = "*"
email-validator = "*"
requests = "*"
fastapi = "*"
pytest-asyncio = "*"
httpx = "*"
axios = "*"
langchain = "*"
openai = "*"
pydantic = "*"
python-dotenv = "*"
prisma = "*"
libsql-client = "*"
langchain-community = "*"
pydantic-settings = "*"
langchain-openai = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.13"

[scripts]
migrate = "python backend/src/lib/db/migrate.py"
server = "cd backend && uvicorn src.lib.app:app --host 0.0.0.0 --port 8001 --reload"
test-auth = "pytest backend/src/lib/auth/test_auth.py -v"
